{% extends 'app/layouts/main.html' %}
{% load static %} 
{% block title %}
Calibration Input
{% endblock title %}
{% block content %}
<style>
    #box0{
        height: 630px;
        width: 1050px;
        margin-left: 40px;
        border: 2px solid black;
        background-color:#ecd1e8;       
    }
    body{
        background-color: #1a7d9e;
    }

  label {
    display: inline-block;
    width: 150px;
    margin-top: 15px;
    text-align:  right;
    margin-left: 20px;
    font-weight: bold;
    
}
select {
    margin-top: 10px;
    box-sizing: border-box;
    width: 200px;
    height: 30px;
    margin-left: 10px;
}

input{
    margin-left: 10px;
    width: 200px;
    text-align: center;
}



   /* Style for the input field */
#search-input {
        width: 600px;
        padding: 8px;
        font-size: 16px;
        border: 2px solid #ccc;
        border-radius: 4px;
        outline: none;
        margin-left: -20px;
 }

/* Add custom outline when input is focused */
#search-input:focus {
    border-color: #904caf;
    box-shadow: 0 0 8px #904caf;
}
#customer_address{
    width:400px;
    height: 120px;
    margin-left: 200px;
    margin-top: 10px;
   
}

/* code for previous and next button */
.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

button {
    background-color: #d1c4e9; /* Soft Violet */
    color: #4a4a4a; /* Dark Grey */
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}


.container{
    height: 250px;
    width: 650px;
    margin-left: 30px;
    border: 2px solid black;
    background-color: white;
}

.container1{
    height: 230px;
    width: 630px;
    margin-left: 5px;
}

#ok_button_Plug{
    height: 30px;
    width: 70px;
    margin-left: 500px;
    margin-top: 10px;
    background-color: red;
    color: white;

}
#ok_button_Ring{
    height: 30px;
    width: 70px;
    margin-left: 500px;
    margin-top: 10px;
    background-color: red;
    color: white;
    
}
.container_1{
    height: 120px;
    width: 400px;
    margin-left: 600px;
    margin-top: -120px;
    
}
.container_2{
    height: 120px;
    width: 500px;
    margin-left: 20px;
    
}
.container_3{
    height: 120px;
    width: 400px;
    margin-left: 600px;
    margin-top: -150px;   
}
.container_4{
    height: 160px;
    width: 350px;
   border: 1px solid black;
   margin-left: 5px;
}
.container_5{
    height: 160px;
    width: 330px;
    margin-left: 360px;
    margin-top: -160px;
    border: 1px solid black;
}
.container_6{
    height: 160px;
    width: 320px;
    margin-left: 700px;
    margin-top: -160px;
    border: 1px solid black;
}
.container_7{
    height: 130px;
    width: 500px;
   border: 1px solid black;
   margin-left: 5px;
   margin-top: 5px;
   
}

.container_8{
    height: 130px;
    width: 500px;
   border: 1px solid black;
   margin-left: 520px;
   margin-top: -130px;
  
}

.container_9{
    height: 100px;
    width: 1015px;
   border: 1px solid black;
   margin-left: 5px;
   margin-top: 5px;
   
}
#final_button{
    margin-left: 80%;
    width: 150px;
    height: 50px;
    background-color: rgb(20, 169, 20);
    color: white;
    text-align: center;
    font-weight: bold;
}

#heading{
    font-weight: 800;
    font-size: 25px;
   color: red;
}

</style>

<div class="box-0" id="box0" style="overflow-x: auto;overflow-y:auto;">

        <center id="heading">CALIBRATION PAGE</center>

        <label for="search" style="width: 170px;margin-top: 20px;">SEARCH CUSTOMER:</label>
        <input list="customers" id="search-input" style="width: 400px;margin-left: 10px;">
        <datalist id="customers">
            {% for customer in customer_value %}
            <option value="{{ customer.customer_name }}" 
            data-address="{{ customer.address }}" 
            data-primary-email="{{ customer.primary_email }}">
        </option>
            {% endfor %}
        </datalist>

        <label for="certificate_num" style="width: 140px;">CERTIFICATE NO:</label>
        <!-- <select id="certificate_num" name="certificate_num">
            {% for details in EngineerManagerDetails_value %}
                <option value="{{ details.certificate_no }}">{{ details.certificate_no }}</option>
            {% endfor %}
        </select> -->
        {% for details in EngineerManagerDetails_value %}
        <input type="text" id="certificate_num" value="{{ details.certificate_no }}">
        {% endfor %}<br>

        <textarea id="customer_address"></textarea>


        <div class="container_1">
            <label for="work_order" style="margin-top: 0px;">Work Order:</label>
            <select type="text" id="work_order"></select><br>

            <label for="wo_items">WO-Items:</label>
            <select type="text" id="wo_items"></select><br>


        </div>

        <div class="container_2">
            <label for="calib_engineer" style="font-size:15px;">Calibration Engineer:</label>
            <select id="calib_engineer" name="calib_engineer" required>
                {% for details in EngineerManagerDetails_value %}
                    <option value="{{ details.calib_engineer }}">{{ details.calib_engineer }}</option>
                {% endfor %}
            </select>
            
            <label for="quality_manager">Quality Manager:</label>
            <select id="quality_manager" name="quality_manager" required>
                {% for details in EngineerManagerDetails_value %}
                    <option value="{{ details.quality_manager }}">{{ details.quality_manager }}</option>
                {% endfor %}
            </select><br>
            </div>

        <div class="container_3">
            <label for="date" style="margin-top: 0px;">Date:</label>
            <input type="date" id="date"><br>

            <label for="date_of_issue">Date of Issue:</label>
            <input type="date" id="date_of_issue"><br>

            <label for="next_calibration">Next Calibrations:</label>
            <input type="date" id="next_calibration"  >
            <br>

        </div>


        <div class="container_4">
            <label for="range" style="width: 50px;margin-top: 0px;">RANGE:</label>
            <input type="text" id="range" name="range" value=" ± 50 um" required class="range-input"><br>
            <label for="least_count" style="width: 50px;">L.C:</label>
            <select id="least_count" name="least_count" required>
                <option>0.001 mm</option>
                <option>0.0005 mm</option>
                <option>0.0001 mm</option>
            </select>
            <br>


        <label for="identification_no" style="width: 50px;">ID NO:</label>
        <input type="text" id="identification_no" name="identification_no" value="" required><br>

        <label for="si_no" style="width: 50px;">SI.NO:</label>
        <input type="text" id="si_no" name="si_no" value="" required><br>
        </div>



        <div class="container_5">
            <label for="make" style="width: 50px;">MAKE:</label>
            <input type="text" id="make" name="make" value=""><br>

            <label for="date_calib" style="width: 50px;">DATE:</label>
            <input type="date" id="date_calib" name="date_calib" value=""><br>

            <label for="date_of_receipt" style="width: 50px;">RECEIPT DATE:</label>
            <input type="date" id="date_of_receipt" name="date_of_receipt" value=""><br>

           
        </div>

        <div class="container_6">
            <label for="customer_ref" style="width: 200px;margin-left: -50px;">CUSTOMER'S REF:</label><br>
            <input type="text" id="customer_ref" name="customer_ref" value="" style="margin-left: 80px;"><br>
            
            <label for="calib_procedure_no" style="width: 300px;margin-left: -50px;">CALIBRATION PROCEDURE NO:</label><br>
            <input type="text" id="calib_procedure_no" name="calib_procedure_no" value="M-CP-074" style="margin-left: 80px;" required>
        </div>

        <div class="container_7">
            <label for="inward_no">INWARD NO:</label>
            <input type="text" id="inward_no" name="inward_no" value="SAI-AG-CAL-" required><br>

            <label for="environment">ENVIRONMENT CONDITION:</label>
            <input type="text" id="environment" name="environment" value="Temperature: 33.0°C"  readonly><br>
        </div>

        <div class="container_8">
            <label for="location">LOCATION:</label>
            <input type="text" id="location" name="location" value="" required>

            <label for="uncertainity">UNCERTAINITY OF MEASUREMENT:</label>
            <input type="text" id="uncertainity" name="uncertainity" value="± 2.9 µm (At 95% confidence level with coverage factor K = 2)" readonly><br>

        </div>
       

        <div class="container_9">
            <label style="margin-top: 10px; width: 60%; margin-left: -50px;">
                <b>1.REFERENCE STANDARDS & EQUIPMENTS USED FOR CALIBRATION:</b>
            </label><br>

            <div class="radio-group">
                <input type="radio" name="group1" value="1" id="setting_plug_trace">
                <label style="width:200px;margin-left: -100px;" >
                    Setting Plug Traceability
                </label>
        
                <input type="radio" name="group1" value="2" id="setting_ring_trace"> 
                <label style="width:200px;margin-left: -100px;">
                    Setting Ring Traceability
                </label>
            </div>
            
        </div>  
   
    <label style="margin-left: 20px;margin-top: 10px; width: 225px;">
        <b>2.CALIBRATION RESULTS:</b>
    </label>
    <br>

  <!-- Group 2 Radio Buttons -->
<div class="radio-group">
    <label style="width:260px">
        <input type="radio" name="group2" value="1" id="setting_plug_master" onclick="toggleVisibility()"> Setting Plug Master
    </label>
    <label style="width:250px">
        <input type="radio" name="group2" value="2" id="setting_ring_master" onclick="toggleVisibility()"> Setting Ring Master
    </label>
</div>

<div class="container">

    <!-- Container for Plug Master -->
    <div class="container1" id="plugMasterContainer" style="overflow-x: auto; overflow-y: auto; display: none;">
        {% for plug_master in SettingPlugMaster_value %}
            <div class="form-group" style="display: flex; align-items: center; margin-bottom: 10px;">
                <label for="param-{{ plug_master.id }}" style="width: 200px; margin-right: 10px;">
                    {{ plug_master.parameter_name }}<br>{{ plug_master.ref_size }}<br>{{ plug_master.nominal }}
                </label>
                <input type="text" id="input-{{ plug_master.id }}" name="input-{{ plug_master.id }}">
                <input type="text" id="output-{{ plug_master.id }}" name="output-{{ plug_master.id }}" readonly>
            </div>
        {% endfor %}
        <button  id="ok_button_Plug">OK</button>
    </div>

    <!-- Container for Ring Master -->
<div class="container1" id="ringMasterContainer" style="overflow-x: auto; overflow-y: auto; display: none;">
    {% for plug_master in SettingRingMaster_value %}
        <div class="form-group" style="display: flex; align-items: center; margin-bottom: 10px;">
            <label for="param-{{ plug_master.id }}" style="width: 200px; margin-right: 10px;">
                {{ plug_master.parameter_name }}<br>{{ plug_master.ref_size }}<br>{{ plug_master.nominal }}
            </label>
            <!-- Dynamically assign unique IDs for input and output fields -->
            <input type="text" id="input-{{ plug_master.id }}" name="input-{{ plug_master.id }}">
            <input type="text" id="output-{{ plug_master.id }}" name="output-{{ plug_master.id }}" readonly>
        </div>
    {% endfor %}
    <button  id="ok_button_Ring">OK</button>
</div>

</div>
<div class="navigation-buttons">
    <button  id="final_button">
        Next
    </button>
</div>
</div>




</div>


<script>
      function toggleVisibility() {
        const plugMasterContainer = document.getElementById('plugMasterContainer');
        const ringMasterContainer = document.getElementById('ringMasterContainer');

        if (document.getElementById('setting_plug_master').checked) {
            plugMasterContainer.style.display = 'block';
            ringMasterContainer.style.display = 'none';
            calculateValues('plug');
        } else if (document.getElementById('setting_ring_master').checked) {
            ringMasterContainer.style.display = 'block';
            plugMasterContainer.style.display = 'none';
            calculateValues('ring');
        }
    }

    document.getElementById('ok_button_Plug').addEventListener('click', function() {
    calculateValues('plug', 'SettingPlugMaster_value');
});

document.getElementById('ok_button_Ring').addEventListener('click', function() {
    calculateValues('ring', 'SettingRingMaster_value');
});

function calculateValues(type, settingType) {
    const formGroups = document.querySelectorAll(`#${type}MasterContainer .form-group`);

formGroups.forEach((group) => {
    const label = group.querySelector('label');
    const textContent = label.innerText;

    const lines = textContent.split('\n');
    const refSize = parseFloat(lines[1].split(' ')[0]); // Get the first number from the second line
    console.log("refSize", refSize);
    const nominal = lines[2]; // Get the nominal line
    console.log("nominal", nominal);

    // Regular expression to match "SET +/-value" with optional space
    const regex = /^SET\s*([+-]?\d*\.?\d+)$/;
    const match = nominal.match(regex);

    let value;

    if (match) {
        // Extract the value directly including the sign (+ or -)
        value = parseFloat(match[1]); // This will get the numeric part with its sign
    } else {
        console.warn("Nominal format is incorrect:", nominal);
        value = 0; // Default value if format is incorrect
    }

    console.log("value", value);

    // Perform the calculation directly, adding or subtracting based on the sign of value
    const result = refSize + value;

    // Format the result to 4 decimal places
    const formattedResult = result.toFixed(4);

    // Log the output to the console with the correct format
    console.log(`Ref Size: ${refSize}, Nominal: ${nominal}, Result: ${formattedResult}`);


        // Now retrieve the user input and calculate output
        const inputField = group.querySelector('input[type="text"]:not([readonly])');
        const outputField = group.querySelector('input[type="text"][readonly]');

        const userInput = parseFloat(inputField.value) || 0; // Get user input, default to 0 if not a number
        const outputValue = formattedResult - userInput; // Calculate output
        console.log("formattedResult",formattedResult)
        console.log("outputValue",outputValue)

        // Update the output field with the result
        outputField.value = outputValue.toFixed(4); // Format output to 4 decimal places
    });
}




//////////////////////////////////////////////////////////////////////////////////
 

// Function to handle next button click
function handleNextButton(currentIndex, nextIndex, currentItem, nextItem) {
    enlargeItem(nextIndex);  // Enlarge the next inner box
    showItem(nextItem);  // Show the next item
}

// Function to handle previous button click
function handlePrevButton(currentIndex, prevIndex, currentItem, prevItem) {
    enlargeItem(prevIndex);  // Enlarge the previous inner box
    showItem(prevItem);  // Show the previous item
}

// On window load, initialize the first item
window.onload = function () {
    showItem('item-1');
    document.querySelector('.box-1 .inner-box-1').style.backgroundColor = 'red';

    // Next button for item 1
    document.getElementById('next_button1').onclick = function () {
        handleNextButton(1, 2, 'item-1', 'item-2');
    };

    // Next button for item 2
    document.getElementById('next_button2').onclick = function () {
        handleNextButton(2, 3, 'item-2', 'item-3');
    };

    // Previous button for item 2
    document.getElementById('prev_button2').onclick = function () {
        handlePrevButton(2, 1, 'item-2', 'item-1');
    };

    // Previous button for item 3
    document.getElementById('prev_button3').onclick = function () {
        handlePrevButton(3, 2, 'item-3', 'item-2');
    };
};

//////////////////////////////////////////////////////////////////////////////////////////////////

 // Get the current date
 const today = new Date();

// Format the date as DD-MM-YYYY
const formattedDate = ('0' + today.getDate()).slice(-2) + '-' + 
                      ('0' + (today.getMonth() + 1)).slice(-2) + '-' + 
                      today.getFullYear();

// Set the value of the input field
// document.getElementById('date_of_issue').value = formattedDate;

// // Calculate the next calibration date (one year from today)
// const nextCalibrationDate = new Date(today);
// nextCalibrationDate.setFullYear(today.getFullYear() + 1);

// // Format the next calibration date as DD-MM-YYYY
// const formattedNextCalibrationDate = ('0' + nextCalibrationDate.getDate()).slice(-2) + '-' + 
//                                      ('0' + (nextCalibrationDate.getMonth() + 1)).slice(-2) + '-' + 
//                                      nextCalibrationDate.getFullYear();

// // Set the value of the 'next_calibration' input field with the next calibration date
// document.getElementById('next_calibration').value = formattedNextCalibrationDate;

////////////////////////////////////////////////////////////////////////////////////////////////////////

document.getElementById('search-input').addEventListener('input', function() {
    const inputValue = this.value;
    const options = document.getElementById('customers').options;
    
    for (let i = 0; i < options.length; i++) {
        if (options[i].value === inputValue) {
            // Get the customer name, address, and primary email
            const customerName = options[i].value; // customer name
            const address = options[i].getAttribute('data-address') || ''; // address
            const primaryEmail = options[i].getAttribute('data-primary-email') || ''; // primary email

            // Combine these into a single string
            document.getElementById('customer_address').value = 
                ` ${customerName}\n ${address}\n ${primaryEmail}`;
            break;
        }
    }
});






//////////////////////////////////////////////////////////



document.getElementById("final_button").addEventListener("click", function(event) {
    event.preventDefault(); // Prevent form submission

    // Collect form values from previous fields
    var date = document.getElementById("date").value;
    var certificate_num = document.getElementById("certificate_num").value;
    var next_calibration = document.getElementById("next_calibration").value;
    var date_of_issue = document.getElementById("date_of_issue").value;
    var calib_engineer = document.getElementById("calib_engineer").value;
    var quality_manager = document.getElementById("quality_manager").value;
    var customer_address = document.getElementById("customer_address").value;
    
    // Collect values from the new form fields
    var range = document.getElementById("range").value;
    var least_count = document.getElementById("least_count").value;
    var identification_no = document.getElementById("identification_no").value;
    var si_no = document.getElementById("si_no").value;
    var make = document.getElementById("make").value;
    var customer_ref = document.getElementById("customer_ref").value;
    var date_calib = document.getElementById("date_calib").value;
    var date_of_receipt = document.getElementById("date_of_receipt").value;
    var calib_procedure_no = document.getElementById("calib_procedure_no").value;
    var location = document.getElementById("location").value;
    var environment = document.getElementById("environment").value;
    var uncertainity = document.getElementById("uncertainity").value;
    var inward_no = document.getElementById("inward_no").value;

    // Collect radio button selections from both groups
    var group1Selection = document.querySelector('input[name="group1"]:checked').id;
    var group2Selection = document.querySelector('input[name="group2"]:checked').id;

    

    // Collect values from the dynamic input/output fields
    var inputValues = {};
    var outputValues = {};
    document.querySelectorAll('input[type="text"]').forEach(function(el) {
        if (el.id.startsWith('input-') && el.value.trim() !== "") {
            inputValues[el.id] = el.value; // Only store non-empty inputs
        } else if (el.id.startsWith('output-') && el.value.trim() !== "") {
            outputValues[el.id] = el.value; // Only store non-empty outputs
        }
    });

    // Store values in localStorage
    var formData = {
        date, certificate_num,next_calibration, calib_engineer,date_of_issue, quality_manager, customer_address,
        range, least_count, identification_no, si_no, make, customer_ref, date_calib,
        date_of_receipt, calib_procedure_no, location, environment, uncertainity,inward_no,
        group1Selection, group2Selection, inputValues, outputValues
    };
    
    localStorage.setItem('formData', JSON.stringify(formData));
    console.log("the value which is send to the next page",formData)


  
    // Log all form data to the console
    console.log("Date:", date);
    console.log("Certificate Number:", certificate_num);

    console.log("next_calibration:", next_calibration);
    console.log("date_of_issue:", date_of_issue);


    console.log("Calibration Engineer:", calib_engineer);
    console.log("Quality Manager:", quality_manager);
    console.log("Customer Address:", customer_address);
    
    // Log new form fields
    console.log("Range:", range);
    console.log("Least Count:", least_count);
    console.log("Identification No:", identification_no);
    console.log("SI No:", si_no);
    console.log("Make:", make);
    console.log("Customer Reference:", customer_ref);
    console.log("Date of Calibration:", date_calib);
    console.log("Date of Receipt:", date_of_receipt);
    console.log("inward_no:", inward_no);
    console.log("Calibration Procedure No:", calib_procedure_no);
    console.log("Location:", location);
    console.log("Environment Condition:", environment);
    console.log("Uncertainty of Measurement:", uncertainity);


    console.log("Group 1 Selection: ", group1Selection);
    console.log("Group 2 Selection: ", group2Selection);

    console.log("Input Values: ", inputValues);
    console.log("Output Values: ", outputValues);

    // Store the data in sessionStorage
    // sessionStorage.setItem('date', date);
    // sessionStorage.setItem('certificate_num', certificate_num);
    // sessionStorage.setItem('calib_engineer', calib_engineer);
    // sessionStorage.setItem('quality_manager', quality_manager);
    // sessionStorage.setItem('customer_address', customer_address);
    
    // Store new form fields data
    // sessionStorage.setItem('range', range);
    // sessionStorage.setItem('least_count', least_count);
    // sessionStorage.setItem('identification_no', identification_no);
    // sessionStorage.setItem('si_no', si_no);
    // sessionStorage.setItem('make', make);
    // sessionStorage.setItem('customer_ref', customer_ref);
    // sessionStorage.setItem('date_calib', date_calib);
    // sessionStorage.setItem('date_of_receipt', date_of_receipt);
    // sessionStorage.setItem('calib_procedure_no', calib_procedure_no);
    // sessionStorage.setItem('location', location);
    // sessionStorage.setItem('environment', environment);
    // sessionStorage.setItem('uncertainity', uncertainity);


     // Store all data in sessionStorage
    //  sessionStorage.setItem('group1Selection', group1Selection);
    // sessionStorage.setItem('group2Selection', group2Selection);
    // sessionStorage.setItem('inputValues', JSON.stringify(inputValues));
    // sessionStorage.setItem('outputValues', JSON.stringify(outputValues));

    // Redirect to the next page
    window.location.href = "/output/"; // Use your next page URL here
});


</script>

{% endblock content %}